# Obdelava teniških podatkov

## Zajeti podatki

* ime turnirja
* leto v katerem se je turnir izvajal
* ime igralcev prisotnih na dvoboju
* podalaga na kateri se je turnir igral

## Analiza

S pomočjo teh podatkov bom analiziral število odigranig iger glede na dvoboj skozi leta v odvisnosti od podlage. Analizo je možno skrčiti tudi na posamezen turnir ali igralca. Prav tako je se lahko osredotočimo tudi na dvoboje v katerih je določen igralec zmagal ali izgubil.

## Hipoteza

* včasih so igralci v povprečju na dvoboj igrali manj iger kot jih igrajo danes, ker so bile podlage hitrejše

## Viri

Vsi podatki so bili pobrani s spletne strani [ATP World tour](http://www.atpworldtour.com/en). Zajeti so vsi podatki od leta 1968 do uradnega dela sezone 2015

In [3]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

Tu naložimo datoteke podatki, igralci in turnirji. Pozor pot morda ni pravilna.

In [4]:
podatki = pd.read_csv('C:/Users/Miha/pandas-cookbook/cookbook/projekt/podatki.csv')

In [5]:
igralci = pd.read_csv('C:/Users/Miha/pandas-cookbook/cookbook/projekt/igralci.csv')

In [6]:
turnirji = pd.read_csv('C:/Users/Miha/pandas-cookbook/cookbook/projekt/turnirji.csv')

V tabeli podatki vidimo indeks turnirja, ki je nastal v programu in nima nobenega pomena, leto turnirja, podlago, st_iger(za nepoznavalce: V tenisu se tekma igra na 2 ali 3 dobljene sete. Vsak set pa se igra na 6 dobljenih iger), indeks porazenca in zmagovalca.

In [12]:
podatki

        turnir  leto podlaga  st_iger  zmagovalec  porazenec
0            0  1993    Hard       18           0          1
1            0  1993    Hard       29           1          2
2            0  1993    Hard       19           0          3
3            0  1993    Hard       20           1          4
4            0  1993    Hard       20           0          5
5            0  1993    Hard       32           3          6
6            0  1993    Hard       19           2          7
7            0  1993    Hard       15           1          8
8            0  1993    Hard       16           0          9
9            0  1993    Hard       19           4         10
10           0  1993    Hard       29           6         11
11           0  1993    Hard       19           3         12
12           0  1993    Hard       14           7         13
13           0  1993    Hard       16           2         14
14           0  1993    Hard       21           5         15
15           0  1993    Hard       27           1         16
16           0  1993    Hard       18           0         17
17           0  1993    Hard       16           6         18
18           0  1993    Hard       18           7         19
19           0  1993    Hard       13           3         20
20           0  1993    Hard       26          14         21
21           0  1993    Hard       20           4         22
22           0  1993    Hard       29          15         23
23           0  1993    Hard       17          10         24
24           0  1993    Hard       14           8         25
25           0  1993    Hard       19          11         26
26           0  1993    Hard       15           9         27
27           0  1994    Hard       16           0         32
28           0  1994    Hard       20           0         10
29           0  1994    Hard       17          32         33
...        ...   ...     ...      ...         ...        ...
136965     257  1982  Carpet       48         341       1159
136966     257  1982  Carpet       33        1159       1114
136967     257  1982  Carpet       20         341       1179
136968     257  1982  Carpet       26         341        877
136969     257  1982  Carpet       30        1159        471
136970     257  1982  Carpet       21        1179        943
136971     257  1982  Carpet       17        1114        914
136972     257  1982  Carpet       15         877        370
136973     257  1982  Carpet       20        1159        900
136974     257  1982  Carpet       22         471        805
136975     257  1982  Carpet       32         943       1520
136976     257  1982  Carpet       15         341        891
136977     257  1982  Carpet       32        1114        941
136978     257  1982  Carpet       22         914       1162
136979     257  1982  Carpet       20        1179       1169
136980     257  1982  Carpet       15         877       1200
136981     257  1982  Carpet       18        1159        359
136982     257  1982  Carpet       20         914       1157
136983     257  1982  Carpet       17         805        340
136984     257  1982  Carpet       15         943        519
136985     257  1982  Carpet       18         891        942
136986     257  1982  Carpet       22        1114        940
136987     257  1982  Carpet       17        1520        506
136988     257  1982  Carpet       19         471        473
136989     257  1982  Carpet       23         370        955
136990     257  1982  Carpet       26         900        897
136991     257  1982  Carpet       22        1179        946
136992     257  1982  Carpet       32        1169       1764
136993     257  1982  Carpet       22        1162       1165
136994     257  1982  Carpet       16         341        975

[136995 rows x 6 columns]

Spodaj sem konstruiral 3 dodatne tabele. Vsaka je dodala ime turnirja\zmagovalca\poraženca

In [32]:
tabela = podatki.merge(turnirji,left_on="turnir", right_on="id")

In [55]:
tabela1 = tabela.merge(igralci,left_on="zmagovalec", right_on="id")

In [56]:
tabela2 = tabela1.merge(igralci,left_on="porazenec", right_on="id")

Primer ki kaze koliko iger je lansko leto na posamičnem dvoboju na Wimbeldonu potreboval Djokovic, da je osvojil turnir

In [59]:
tabela2[(tabela2.turnir == 254) & (tabela2.leto == 2015) & (tabela2.ime_y == "Novak Djokovic")]

,turnir,leto,podlaga,st_iger,zmagovalec,porazenec,id_x,ime_x,id_y,ime_y,id,ime
51393,254,2015,Grass,19,735,673,254,wimbledon,735,Novak Djokovic,673,Roger Federer
53189,254,2015,Grass,28,735,726,254,wimbledon,735,Novak Djokovic,726,Philipp Kohlschreiber
63238,254,2015,Grass,31,735,306,254,wimbledon,735,Novak Djokovic,306,Jarkko Nieminen
68835,254,2015,Grass,20,735,162,254,wimbledon,735,Novak Djokovic,162,Richard Gasquet
73358,254,2015,Grass,20,735,314,254,wimbledon,735,Novak Djokovic,314,Bernard Tomic
79817,254,2015,Grass,29,735,287,254,wimbledon,735,Novak Djokovic,287,Kevin Anderson
83579,254,2015,Grass,30,735,1891,254,wimbledon,735,Novak Djokovic,1891,Marin Cilic

In [61]:
podatki["desetletje"] = 10 * (podatki["leto"]//10)

In [66]:
podatki.groupby("desetletje").mean()

                turnir         leto    st_iger   zmagovalec    porazenec
desetletje
1960        151.047714  1968.651093  29.305666  1075.592445  1626.182406
1970        142.303085  1974.820336  23.942969   853.293947  1011.729306
1980        142.722298  1984.353472  24.239878   886.824051   987.176433
1990        143.701248  1994.255802  22.249144   546.000913   638.100624
2000        143.729970  2004.886021  21.700511   553.910660   664.990320
2010        145.013051  2012.467746  21.134346   747.495841   945.642192

Podatki kazejo da se je skozi leta povprečno število iger zmanjševalo, kar nasprotuje naši predpostavki. Oglejmo si to še natančneje za posamezno podlago

In [67]:
podatki[podatki.podlaga == "Grass"].groupby("desetletje").mean()

                turnir         leto    st_iger   zmagovalec    porazenec
desetletje
1960        193.083333  1968.567073  31.319106  1015.857724  1535.719512
1970        180.221467  1973.996603  29.350883   868.811481  1137.779891
1980        185.613884  1984.506718  28.572937   825.876520   907.230326
1990        202.081081  1994.468955  24.326516   622.424763   673.392622
2000        202.170242  2004.912457  22.855017   671.105190   765.390657
2010        204.473829  2012.439984  22.427784   816.794569   986.681621

Sedaj pa si isto oglejmo še za posameznega igralca

In [74]:
tabela2[(tabela2.ime_y == "Novak Djokovic") | (tabela2.ime == "Novak Djokovic")].groupby("leto").mean()

,turnir,st_iger,zmagovalec,porazenec,id_x,id_y,id,desetletje
leto,,,,,,,,
2004,142.500000,16.500000,157.500000,735.000000,142.500000,157.500000,735.000000,2000
2005,199.750000,21.000000,568.916667,535.500000,199.750000,568.916667,535.500000,2000
2006,179.350000,22.800000,632.075000,836.925000,179.350000,632.075000,836.925000,2000
2007,158.095890,23.164384,665.835616,515.575342,158.095890,665.835616,515.575342,2000
2008,134.328125,23.421875,676.718750,639.031250,134.328125,676.718750,639.031250,2000
2009,132.250000,21.336957,706.445652,645.619565,132.250000,706.445652,645.619565,2000
2010,141.900000,24.157143,697.842857,588.871429,141.900000,697.842857,588.871429,2010
2011,139.960000,22.360000,721.986667,514.413333,139.960000,721.986667,514.413333,2010
2012,149.723684,22.736842,686.157895,542.552632,149.723684,686.157895,542.552632,2010
2013,151.943662,22.718310,675.239437,552.056338,151.943662,675.239437,552.056338,2010
2014,154.985294,22.573529,702.161765,630.897059,154.985294,702.161765,630.897059,2010
2015,148.951807,22.313253,716.879518,560.915663,148.951807,716.879518,560.915663,2010

In [75]:
tabela2[(tabela2.ime_y == "Novak Djokovic")].groupby("leto").mean()

,turnir,st_iger,zmagovalec,porazenec,id_x,id_y,id,desetletje
leto,,,,,,,,
2005,226.200000,19.400000,735,256.200000,226.200000,735,256.200000,2000
2006,188.040000,23.000000,735,898.080000,188.040000,735,898.080000,2000
2007,159.237288,22.542373,735,463.508475,159.237288,735,463.508475,2000
2008,129.549020,24.176471,735,614.568627,129.549020,735,614.568627,2000
2009,127.868421,21.789474,735,626.802632,127.868421,735,626.802632,2000
2010,140.166667,24.333333,735,545.574074,140.166667,735,545.574074,2010
2011,141.366197,22.464789,735,501.985915,141.366197,735,501.985915,2010
2012,148.166667,22.575758,735,513.393939,148.166667,735,513.393939,2010
2013,148.596774,22.290323,735,525.500000,148.596774,735,525.500000,2010
2014,155.816667,22.266667,735,617.016667,155.816667,735,617.016667,2010
2015,150.282051,22.179487,735,549.756410,150.282051,735,549.756410,2010

In [76]:
tabela2[(tabela2.ime == "Novak Djokovic")].groupby("leto").mean()

,turnir,st_iger,zmagovalec,porazenec,id_x,id_y,id,desetletje
leto,,,,,,,,
2004,142.500000,16.500000,157.500000,735,142.500000,157.500000,735,2000
2005,180.857143,22.142857,450.285714,735,180.857143,450.285714,735,2000
2006,164.866667,22.466667,460.533333,735,164.866667,460.533333,735,2000
2007,153.285714,25.785714,374.357143,735,153.285714,374.357143,735,2000
2008,153.076923,20.461538,448.076923,735,153.076923,448.076923,735,2000
2009,153.062500,19.187500,570.812500,735,153.062500,570.812500,735,2000
2010,147.750000,23.562500,572.437500,735,147.750000,572.437500,735,2010
2011,115.000000,20.500000,491.000000,735,115.000000,491.000000,735,2010
2012,160.000000,23.800000,363.800000,735,160.000000,363.800000,735,2010
2013,175.000000,25.666667,263.555556,735,175.000000,263.555556,735,2010
2014,148.750000,24.875000,455.875000,735,148.750000,455.875000,735,2010
2015,128.200000,24.400000,434.200000,735,128.200000,434.200000,735,2010

Iz teh tabel lahko vidimo, da je Djokovic na začetku kariere hitreje igubljal kot zmagoval. V preteklih letih pa potrebuje manj iger da zmaga kot izgubi. Ker igra z boljšimi igralci so vsa števila narasla

Podatki nasprotujejo naši hipotezi, da se je zaradi hitrejših podlag včasih igralo manj iger. To gre verjetno pripisati temu, da so zaradi hiterjših podlag igralci lažje dobivali igre na svoj servis kar je pripomoglo k večim igram.